[connection]
url = "http://example.com/metaweblog"
blogid = "123"
ntlm = true
username = ""
password = ""
sendmarkdown = false
# below used for NTLM connections.
workstation = "WORKSTATION"
domain = ""

[frontmatter]
# only option is toml for now.
language = "toml"
separator = "+++"

